extends ../layout

block content
  h1 InDaLoop
  p.lead Find the best deals in your area, invite your friends to sweeten the deal!
  hr
  .row
    .col-sm-6
      h2 About Us
      p InDaLoop is a tiered coupon platform that allows businesses a means to provide varying levels of discounts on each product they offer based on the number of buyers that have committed to purchasing that particular product. Think “Groupon meets Kickstarter”. As more buyers commit to purchasing a particular product, the price of the product will correspondingly drop. Sellers are incentivized to provide deeper discounts at higher tiers because they will be effectively guaranteed the sales volume to make up for the price cut. Buyers are incentivized to spread the word on their purchase in order to “sweeten” the deal and reach the highest possible discount tier for the product they are purchasing.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 More Info
      p More Info goes here
      p
        a.btn.btn-default(href='#', role='button') View details »
